DB_HOST=localhost
DB_PORT=5432
DB_NAME=cava
DB_USER=
DB_PASSWORD=
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=2

DW_HOST=localhost
DW_PORT=5432
DW_NAME=cava_analytics
DW_USER=
DW_PASSWORD=
DW_POOL_MIN_SIZE=1
DW_POOL_MAX_SIZE=2

DEBUG=TRUE